{% load static %}
<head>
  <meta charset="UTF-8">
  <title>foothut</title>


  <link  type="text/css" href="{% static 'css/style.css' %}"rel="stylesheet">
  
</head>
<body style="background-color:black;">
  
<h1 style=" text-align: center;color:white;">Our Menu</h1>
<br><br><br>

<section class="section section-md bg-default">
    <div class="container">
      <h3 class="oh-desktop">
      <div class="row row-md row-30">
        
          <div class="oh-desktop">
            <!-- Services Terri-->
            <div class="one">
              <div class="servicesfigure"><img src="{% static "media/sal.jpg" %}" alt="" width="370" height="300">
               
              </div>
              
              <div class="servicescaption">
                <h5 class="servicestitle">
                  <a href="salad"style="color:white;margin-left: 20cm;">Salads</a></h5>
              
              </div>
            
            </div>
          </div>
        </div>
        <div class="two">
       
          <div class="oh-desktop">
            <!-- Services Terri-->
           
              <div class="servicesfigure"><img src="{% static "media/piz.jpg" %}" alt="" width="370" height="350">
              </div>
              <div class="servicescaption">
                <h5 class="servicestitle">
                  <a href="pizza"style="color:white;margin-left: 20cm;">Pizza</a></h5>
              </div>
              
            </div>
          </div>
        </div>
        <div class="three">
        
          <div class="oh-desktop">
            <!-- Services Terri-->
           
              <div class="servicesfigure"><img src="{% static "media/bur.jpg" %}" alt="" width="370" height="350">
              </div>
              <div class="servicescaption">
                <h5 class="servicestitle">
                  <a href="burger"style="color:white;">Burgers</a></h5>
              </div>
              
            </div>
          </div>
        </div>
        <div class="four">
       
          <div class="oh-desktop">
            <!-- Services Terri-->
           
              <div class="servicesfigure"><img src="{% static "media/des.jpg" %}" alt="" width="370" height="350">
              </div>
              <div class="servicescaption">
                <h5 class="servicestitle">
                  <a href="dessert"style="color:white;">Desserts</a></h5>
              </div>
             
            </div>
          </div>
        </div>
        <div class="five">
     
          <div class="oh-desktop">
            <!-- Services Terri-->
           
              <div class="servicesfigure"><img src="{% static "media/drinks.jpg" %}" alt="" width="370" height="350">
              </div>
              <div class="servicescaption">
                <h5 class="servicestitle">
                  <a href="drinks"style="color:white;">Drinks</a></h5>
              </div>
              
            </div>
          </div>
        </div>
        <div class="six">
        
          <div class="oh-desktop">
            <!-- Services Terri-->
          
              <div class="servicesfigure"><img src="{% static "media/sea.jpg" %}" alt="" width="370" height="350">
              </div>
              <div class="servicescaption">
                <h5 class="servicestitle">
                  <a href="seafood"style="color:white;">Seafood</a></h5>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>